<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>AI Home Training</title>
</head>
<body>

<div id="container">
    <video autoplay id="videoUser"></video>
</div>

<a id="print"></a>

<script>
var video = document.querySelector("#videoUser");
var constraints = {audio : false, video : { width: 1280, height: 720 }};

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia(constraints)
    .then(function (stream) {
        document.getElementById("print").innerHTML = video.srcObject;
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}

</script>

</body>
</html>