<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AIHT - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/main/img/favicon.png" rel="icon">
  <link href="../static/main/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/main/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/main/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/main/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/main/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/main/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/main/css/style.css" rel="stylesheet">

  <!-- Modal CSS File -->
  <link href="../static/main/css/modal.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Rapid - v4.5.0
  * Template URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">AIHT</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">메인</a></li>
          <li><a class="nav-link scrollto" href="/#services">서비스</a></li>
            {% if session['login'] %}
                <li><a class="nav-link scrollto" href="/result_list">운동 내역</a></li>
                <li class="dropdown"><a href="#"><span>내 정보</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="#"><strong>{{ session['nickname'] }}님 환영합니다.</strong></a></li>
{#                  <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>#}
{#                    <ul>#}
{#                      <li><a href="#">Deep Drop Down 1</a></li>#}
{#                      <li><a href="#">Deep Drop Down 2</a></li>#}
{#                    </ul>#}
{#                  </li>#}
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="/logout">로그아웃</a></li>
            {% else %}
            <li><a class="nav-link scrollto" href="/login">로그인</a></li>
            {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://github.com/jjuny0310" class="github"><i class="bi bi-github"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>딥러닝 기반 홈 트레이닝<br>시스템 <span>AIHT</span></h2>
          <div>
              {% if session['login'] %}
                <button style="border: none" id="btn-modal" class="btn-get-started scrollto">Get Started</button>
              {% else %}
                <a href="/login" class="btn-get-started scrollto">Get Started</a>
              {% endif %}
          </div>
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/main/img/intro-img.png" alt="" class="img-fluid">
        </div>
      </div>

            <!-- Modal Section-->
            <div id="modal" class="modal-overlay">
                <div class="modal-window">
                    <div class="title">
                        <h2>운동 옵션</h2>
                    </div>
                    <div class="close-area">X</div>

                    <div class="content">
                        <form id="select_option" method="post">
                            <table>
                                <tr>
                                    <td>운동 종류</td>
                                    <td>
                                        <select id="select_exercise" name="select_exercise" onchange="changeExercise()">
                                            <option selected value="SQUAT">스쿼트</option>
                                            <option value="PUSH_UP">푸쉬업</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>목표 횟수</td>
                                    <td>
                                        <select name="select_num">
                                            <option selected>1</option>
                                            <option>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>

                            <strong id="caution">'스쿼트'는 정면을 바라보고 수행 해주세요.</strong>
                            <button type="submit" class="btn btn-primary"><strong>선택 완료</strong></button>
                        </form>
                    </div>
                </div>
            </div><!-- End Modal -->

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Services</h3>
          <p><strong>AI</strong> <strong>H</strong>ome <strong>T</strong>raining
            <br>트레이너 비디오와 함께 운동 횟수 세기와 자세 교정 기능을 통해 효과적인 운동을 수행하세요.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="bi bi-dice-1" style="color: #ff689b;"></i></div>
              <h4 class="title">스쿼트</h4>
              <p class="description">정면을 바라보고 스쿼트 운동을 수행 해주세요.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="bi bi-dice-2" style="color: #e98e06;"></i></div>
              <h4 class="title">푸쉬업</h4>
              <p class="description">몸의 측면이 보이도록 푸쉬업 운동을 수행 해주세요.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="bi bi-dice-3" style="color: #3fcdc7;"></i></div>
              <h4 class="title">미구현</h4>
              <p class="description"></p>
            </div>
          </div>

      </div>

      </div>
    </section><!-- End Services Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/main/vendor/aos/aos.js"></script>
  <script src="../static/main/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/main/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/main/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/main/js/main.js"></script>

  <!-- Modal Script -->
  <script src="../static/main/js/modal.js"></script>

  </main>

</body>
</html>