<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/control_utils_3d.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>
</head>

<body>
<a id="print"></a>
    <div style="float:left">
        <video src="../static/video/1.mp4" width="480px" height="480px" autoplay muted></video>
    </div>

    <div class="container">
        <video class="input_video" style="display:none"></video>
        <canvas class="output_canvas" width="400px" height="400px"></canvas>
    </div>


<script src="../static/js/aiht.js"></script>

</body>
</html>
