<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
        {#좌우반전#}
        #input_video
        {
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */
        }
        #output_canvas
        {
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */
        }
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/control_utils_3d.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" style="margin-top: 20px;">
        <div class="columns">

          <!-- WEBCAM INPUT -->
          <div class="column" style="display: none">
            <article class="panel is-info">
              <p class="panel-heading">
                Trainer Video
              </p>
              <div class="panel-block">
                <video id="trainer_video" src="../static/video/1.mp4" autoplay muted></video>
              </div>
            </article>
          </div>

          <!-- MEDIAPIPE OUTPUT -->
          <div class="column">
            <article class="panel is-info">
              <p id="count" class="panel-heading">
                횟수 : 0
              </p>
              <div class="panel-block">
                <video id="input_video" class="input_video" style="display: none"></video>
                <canvas id="output_canvas" class="output_canvas" width="480x" height="480px"></canvas>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>

<script src="../static/js/human_pose.js"></script>

</body>
</html>
